.container{

   padding: 10px 0px;
      margin: 0 auto;
      max-width: 711px;
     

}

.users{
   display: grid;
   grid-template-columns: minmax(auto,110px) 1fr minmax(auto,200px);
   font-size: 16px;
   margin-bottom: 30px;
   margin-left: 20px;
   
}
.follows{
display: grid;
justify-content: end;
margin-right: 56px;


}

button{
   font-size: 11px;
   padding: 5px 13px;
}

img{
   margin-bottom: 10px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   cursor: pointer;
}

.name{
margin-bottom: 20px;
}

.city{
margin-bottom: 20px;
}

.selectedPage{
   font-weight: 700;
   text-decoration: underline;
}
span{
cursor: pointer;
}

.aaa{
   display: inline-flex;
      margin-bottom: 20px;
      gap: 4px;
     
}