

.container{
display: grid;
grid-template-columns: minmax(auto,300px) minmax(auto, 300px);
}

.name{
   font-weight: 600;
   font-size: 22px;
   margin-bottom: 20px;
}

.text{
border-radius: 7px;
padding: 10px 130px 0px 0px;
}

.click{
   font-size: 15px;
justify-content: start;
padding: 3px 20px ;
}

.texts{
   border: 2px red solid;
}

.error {
   font-size: 14px;
   font-weight: 600;
   margin-top: 10px;
   color: rgb(247, 51, 51);
}